/* Limpieza total y color de fondo de la app */
body, html, #root {
margin: 0;
padding: 0;
background-color: #000000; /* Fondo negro Spotify */
color: #ffffff;
font-family: 'Circular Sp', 'Helvetica Neue', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}

* {
box-sizing: border-box;
}